# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Env
venv/
.venv/
env/
ENV/

# Node
node_modules/
npm-debug.log
yarn-error.log

# Mac
.DS_Store

# IDE
.vscode/
.idea/

# Project specific
*.pcap
*.pcapng
# data/  <-- 注释掉这一行，允许 data 目录被提交

